@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding-top: 80px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(153, 153, 153);
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us h2 {
    font-size: 45px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 2.5rem;
}

.contact-us hr {
    background-color: #262626;
    height: 3px;
    width: 260px;
   
}

.contact-box {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

label {
    font-weight: bold;
    font-size: 15px;
}

.input-user input {
    width: 550px;
    height: 50px;
    border: 1px solid #ced4da;
    padding: 1.5rem 0.5rem;
    font-size: 15px;
}

.gender {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
   
}

#gender-option {
    display: flex;
    gap: 10px;
}


#gender-option label {
    font-size: 20px;
    display: flex;
}


button {
    font-size: 17px;
    width: 550px;
    height: 50px;
    padding: 5px 0;
    border: 1px solid #262626;
    color: white;
    background-color: #262626;
}

.contact-box button:hover {
    filter: brightness(90%);
}

.required::after {
    content: " *";
    color: red;
    font-size: 15px;
}


input:invalid {
    border: none;
    outline: 2px solid red;
    border-radius: 2px;
}

input:valid {
    border: 1px solid black;
    outline: inherit;
    border-radius: inherit;
}

textarea:invalid {
    border: none;
    outline: 2px solid red;
    border-radius: 2px;
}

textarea:valid {
    border: 1px solid black;
    outline: inherit;
    border-radius: inherit;
}

#error-message {
    visibility: hidden;
    color: rgb(158, 0, 0);
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

